<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductData</servlet-name>
        <servlet-class>AddProductData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signupdata</servlet-name>
        <servlet-class>Signupdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllCustomer</servlet-name>
        <servlet-class>ViewAllCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCategory</servlet-name>
        <servlet-class>ViewCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeal</servlet-name>
        <servlet-class>ViewDeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCustomer</servlet-name>
        <servlet-class>RemoveCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/AdminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductData</servlet-name>
        <url-pattern>/AddProductData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signupdata</servlet-name>
        <url-pattern>/Signupdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllCustomer</servlet-name>
        <url-pattern>/ViewAllCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCategory</servlet-name>
        <url-pattern>/ViewCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeal</servlet-name>
        <url-pattern>/ViewDeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCustomer</servlet-name>
        <url-pattern>/RemoveCustomer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
